td
{
    text-align: center;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 10vmin;
}
p
{
    text-align: left;
    font-size: larger;
}
.poem
{
    margin:0 auto;
    max-width: max-content;
}