td
{
    text-align: center;
    border-style: solid;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 10vmin;
}
p
{
    text-align: center;
    font-size: larger;
}